@import "tailwindcss";

/* ----------------------- */
/* THEME                   */
/* ----------------------- */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-avenir-next), Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ----------------------- */
/* GLOBAL STYLES           */
/* ----------------------- */

html {
  font-family: var(--font-avenir-next), Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-avenir-next), Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}