@import "tailwindcss";

/* ----------------------- */
/* AVENIR NEXT FONT FAMILY */
/* ----------------------- */

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/Avenir Next Ultra Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/Avenir Next Thin.woff2") format("woff2");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/Avenir Next Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/Avenir Next Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/Avenir Next Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/Avenir Next Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/Avenir Next Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/Avenir Next Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ----------------------- */
/* THEME                   */
/* ----------------------- */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Avenir Next", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ----------------------- */
/* GLOBAL STYLES           */
/* ----------------------- */

html {
  font-family: "Avenir Next", sans-serif;
}

body {
  min-height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}